//COLORS

//MONO
$color-white: #fff;
$color-grey-1: #F8F8FD;
$color-grey-2: #E5E0FC;
$color-grey-3: #8A8FB9;
$color-black: #101750;


//COLORFUL 
$color-primary: #FB2E86;
$color-primary-dark: #F0056A;
$color-primary-light: #FC5FA2;

$color-secondary: #F9BA00;
$color-secondary-light: #FFF3CE;

$color-tertiary: #7E33E0;

$color-danger: #FB2448;
$color-danger-light: #FEB9C4;

$color-info: #603EFF;
$color-info-light: #DDD6FF;

$color-success: #0CC562;
$color-success-dark: #00994C;
$color-success-light: #92F2BF;