@use "../abstracts/variables" as *;

.header {
  width: 100%;

  svg {
    path {
      color: white;
    }
  }

  &-top {
    background-color: $color-tertiary;
    color: $color-white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      display: flex;
      gap: 4.8rem;

      span {
        color: $color-white;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      gap: 1rem;

      &-element {
        cursor: pointer;
        color: $color-white;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        transition: all 0.3s;
        display: flex;
        gap: 4px;
        justify-content: space-between;
        align-items: center;

        &:hover {
          background-color: #6a0de3;
        }
      }

      .dropdown {
        background-color: transparent;
        color: $color-white;
        border: none;
      }

      .login-btn {
        display: flex;
        gap: 4px;
        align-items: center;
      }

      .wishlist {
        display: flex;
        gap: 4px;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &-bottom {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;

    &-left {
      display: flex;
      align-items: center;

      .logo {
        height: 40px;
        margin-right: 30px;
      }

      .nav-links {
        display: flex;
        gap: 20px;

        li {
          list-style: none;
          cursor: pointer;
          font-size: 16px;
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;

      .search-container {
        display: flex;
        align-items: center;
        gap: 10px;

        border: 1px solid $color-grey-2;
        border-radius: 8px;
        padding: 2px;

        input {
          padding: 8px;
          border: none;
          width: 32rem;
          padding-left: 1.6rem;

          &::placeholder {
            font-size: 1.4rem;
            color: $color-grey-3;
          }
        }

        .search-btn {
          background: $color-primary;
          border: none;
          width: 52px;
          height: 36px;
          cursor: pointer;
          border-radius: 6px;

          svg {
            margin-top: 6px;
            margin-left: 27%;
          }
        }
      }
    }
  }
}
