@use "../abstracts/variables" as *;

.carousel-four-cards {
  &-container {
    position: relative;
    padding: 2rem;
  }

  &-page {
    display: flex;
    flex-direction: column;
  }

  &-row {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    padding: 4rem;
    justify-content: center;
  }

  &-card {
    width: 30rem;
    height: 37rem;
    background-color: $color-white;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    box-shadow: 1rem 2rem 2rem 0 rgba(0, 0, 0, 0.1);
    transition: all 0.5s;

    &:hover {
      transform: translateY(-3rem);

      & .carousel-four-cards-overlay{

        display: flex;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &-overlay {
    
    color: $color-tertiary;

    display: none;

    .overlay {
      &-icons {
        position: absolute;
        display: flex;
        margin: .7rem 1.3rem;

        
      }
      &-icon {
        height: 3.2rem;
        width: 3.2rem;
        margin-right: 0.3rem;
        padding: 8px;
        transition: all .3s;
        cursor: pointer;

        &:hover{
            background-color: $color-grey-2;
          border-radius: 32px;
        }
      }
      &-button-details {
        position: absolute;
        left: 33%;
        bottom: 15rem;
        border-radius: 6px;
        padding: 11px 16px;
        font-size: 1.2rem;

        border: 2px solid $color-success;
        color: $color-white;
        background-color: $color-success;
      }
    }
    svg {
      path {
        color: $color-tertiary;
      }
    }
  }
}

.featured {
  &-image {
    width: 30rem;

    height: 23rem;
    object-fit: cover;
    border-radius: 8px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    &-text {
      color: $color-grey-3;
    }

    &-title {
      color: $color-primary;
      margin-bottom: 1.5rem;
    }

    &-price {
      color: $color-black;
      margin-top: 0.5rem;
    }
  }
}

.carousel-four-cards-pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.pagination-line {
  width: 16px;
  height: 4px;
  background-color: #febad7;
  margin: 0 8px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  &.active {
    width: 24px;
    background-color: $color-primary;
  }
}
