*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

body, * {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #8A8FB9;
}

.text-semibold {
  font-weight: 600;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph--large {
  font-size: 1.8rem;
}
.paragraph--bold {
  font-weight: 700;
}
.paragraph--small {
  font-size: 1.4rem;
}

.heading {
  color: #101750;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
}
.heading--2 {
  font-size: 4.4rem;
}
.heading--3 {
  font-size: 3.6rem;
}
.heading--4 {
  font-size: 2.8rem;
}
.heading-sub {
  font-size: 2.6rem;
}
.heading-sub--2 {
  font-size: 2.2rem;
}
.heading-sub--3 {
  font-size: 2rem;
}
.heading-sub--4 {
  font-size: 1.6rem;
  font-weight: 600;
}

.label {
  font-size: 1.6rem;
  font-weight: 400;
}
.label--small {
  font-size: 1.4rem;
}
.label--bold {
  font-weight: 700;
}

.header {
  width: 100%;
}
.header-content {
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  display: flex;
}
.header svg path {
  color: white;
}
.header .currency,
.header .language {
  position: relative;
}
.header-dropdown {
  position: absolute;
  top: 4rem;
  left: 0;
  background-color: #7E33E0;
  border: none;
  border-radius: 5px;
}
.header-dropdown-element {
  color: #fff;
  padding: 1rem 1.2rem 1.2rem;
}
.header-dropdown-element:first-child {
  border-radius: 5px 5px 0 0;
}
.header-dropdown-element:last-child {
  border-radius: 0 0 5px 5px;
}
.header-dropdown-element:hover {
  background-color: #6a0de3;
}
.header-top {
  background-color: #7E33E0;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top-left {
  display: flex;
  gap: 4.8rem;
}
.header-top-left-element {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}
.header-top-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-top-right-element {
  cursor: pointer;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: all 0.3s;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}
.header-top-right-element:hover {
  background-color: #6a0de3;
}
.header-top-right .login-btn {
  display: flex;
  gap: 4px;
  align-items: center;
}
.header-top-right .wishlist {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}
.header-bottom {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}
.header-bottom-left {
  display: flex;
  align-items: center;
}
.header-bottom-left .logo {
  height: 2.8rem;
  margin-right: 5rem;
}
.header-bottom-left .nav-links {
  display: flex;
  gap: 20px;
}
.header-bottom-left .nav-links .nav-link {
  cursor: pointer;
  transition: all 0.4s;
}
.header-bottom-left .nav-links .nav-link:hover {
  color: #FB2E86;
}
.header-bottom-right {
  display: flex;
  align-items: center;
}
.header-bottom-right .search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #E5E0FC;
  border-radius: 8px;
  padding: 2px;
}
.header-bottom-right .search-container input {
  padding: 8px;
  border: none;
  width: 32rem;
  padding-left: 1.6rem;
}
.header-bottom-right .search-container input::placeholder {
  font-size: 1.4rem;
  color: #8A8FB9;
}
.header-bottom-right .search-container .search-btn {
  background: #FB2E86;
  border: none;
  width: 52px;
  height: 36px;
  cursor: pointer;
  border-radius: 6px;
}
.header-bottom-right .search-container .search-btn svg {
  margin-top: 6px;
  margin-left: 27%;
}

/*# sourceMappingURL=style.css.map */
