*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

body, * {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #8A8FB9;
}

.text-semibold {
  font-weight: 600;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph--large {
  font-size: 1.8rem;
}
.paragraph--bold {
  font-weight: 700;
}
.paragraph--small {
  font-size: 1.4rem;
}

.heading {
  color: #101750;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
}
.heading--2 {
  font-size: 4.4rem;
}
.heading--3 {
  font-size: 3.6rem;
}
.heading--4 {
  font-size: 2.8rem;
}
.heading-sub {
  font-size: 2.6rem;
}
.heading-sub--2 {
  font-size: 2.2rem;
}
.heading-sub--3 {
  font-size: 2rem;
}
.heading-sub--4 {
  font-size: 1.6rem;
  font-weight: 600;
}

.label {
  font-size: 1.6rem;
  font-weight: 400;
}
.label--small {
  font-size: 1.4rem;
}
.label--bold {
  font-weight: 700;
}

.carousel-container {
  margin: 0 auto;
}

.hero-content {
  padding: 19rem 0;
  margin-left: -2rem;
  max-width: 56rem;
}
.hero-content-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.hero-content .shop-now-button {
  margin-top: 2.8rem;
  border-radius: 8px;
  padding: 16px 40px;
  border: 1px solid #FB2E86;
  background-color: #FB2E86;
  color: #fff;
  transition: all 0.2s;
}
.hero-content .shop-now-button:hover {
  background-color: #fff;
  color: #FB2E86;
}

.carousel-card {
  padding: 0 5rem 4rem;
  background-color: #f2f0ff;
}
.carousel-card-content {
  display: flex;
}
.carousel-card-1 {
  background-color: #f0fffb;
}
.carousel-card-2 {
  background-color: #fff0f9;
}
.carousel-card .hero-subtitle {
  color: #FB2E86;
}
.carousel-card .hero-image-main {
  margin-left: 10rem;
  margin-top: 3rem;
}
.carousel-card .hero-image-small {
  height: 38rem;
}

ul.slick-dots {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.slick-dots li {
  margin: 0 5px;
  cursor: pointer;
  margin-right: 1.6rem;
}
.slick-dots li .custom-dot {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #FB2E86;
  transform: rotate(45deg);
  transition: background-color 0.3s, border-color 0.3s;
}
.slick-dots li.slick-active .custom-dot {
  background-color: #FB2E86;
}

.carousel-four-cards-container {
  position: relative;
  padding: 2rem;
}
.carousel-four-cards-page {
  display: flex;
  flex-direction: column;
}
.carousel-four-cards-row {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  padding: 4rem;
  justify-content: center;
}
.carousel-four-cards-card {
  width: 30rem;
  height: 37rem;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 1rem 2rem 2rem 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.carousel-four-cards-card:hover {
  transform: translateY(-3rem);
}
.carousel-four-cards-card:hover .carousel-four-cards-overlay {
  display: flex;
}
.carousel-four-cards-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carousel-four-cards-overlay {
  color: #7E33E0;
  display: none;
}
.carousel-four-cards-overlay .overlay-icons {
  position: absolute;
  display: flex;
  margin: 0.7rem 1.3rem;
}
.carousel-four-cards-overlay .overlay-icon {
  height: 3.2rem;
  width: 3.2rem;
  margin-right: 0.3rem;
  padding: 8px;
  transition: all 0.3s;
  cursor: pointer;
}
.carousel-four-cards-overlay .overlay-icon:hover {
  background-color: #E5E0FC;
  border-radius: 32px;
}
.carousel-four-cards-overlay .overlay-button-details {
  position: absolute;
  left: 33%;
  bottom: 15rem;
  border-radius: 6px;
  padding: 11px 16px;
  font-size: 1.2rem;
  border: 2px solid #0CC562;
  color: #fff;
  background-color: #0CC562;
}
.carousel-four-cards-overlay svg path {
  color: #7E33E0;
}

.featured-image {
  width: 30rem;
  height: 23rem;
  object-fit: cover;
  border-radius: 8px;
}
.featured-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}
.featured-content-text {
  color: #8A8FB9;
}
.featured-content-title {
  color: #FB2E86;
  margin-bottom: 1.5rem;
}
.featured-content-price {
  color: #101750;
  margin-top: 0.5rem;
}

.carousel-four-cards-pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.pagination-line {
  width: 16px;
  height: 4px;
  background-color: #febad7;
  margin: 0 8px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.pagination-line.active {
  width: 24px;
  background-color: #FB2E86;
}

.featured {
  text-align: center;
}
.featured-title {
  margin-top: 10rem;
}

.category-tabs {
  margin: 2rem auto;
}
.category-tabs-container {
  text-align: center;
}
.category-tab {
  margin-right: 4.5rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.category-tab:hover {
  color: #F0056A;
}
.category-tab.active {
  color: #FB2E86;
}
.category-content {
  padding: 4rem 30rem;
  border-radius: 4px;
}

.latest-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.latest-card-grid-overlay {
  color: #7E33E0;
  display: none;
}
.latest-card-grid-content {
  width: 100%;
  border-radius: 8px;
  position: relative;
  transition: all 0.3s;
}
.latest-card-grid-content:hover .latest-card-grid-overlay {
  transform: translateY(-3rem);
  display: flex;
}
.latest-card-grid-content .overlay-icons {
  position: absolute;
  top: 19rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
}
.latest-card-grid-content .overlay-icon {
  height: 3.2rem;
  width: 3.2rem;
  margin-right: 0.3rem;
  padding: 8px;
  transition: all 0.3s;
}
.latest-card-grid-content .overlay-icon:hover {
  background-color: #E5E0FC;
  border-radius: 32px;
}
.latest-card-grid-content svg path {
  color: #7E33E0;
}
.latest-card-grid-image {
  width: 41rem;
  height: 27rem;
  object-fit: cover;
}
.latest-card-grid-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 0.5rem;
}
.latest-card-grid .prices {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.latest-card-grid .prices .sale-price {
  color: #FB2E86;
}

.latest {
  text-align: center;
  padding: 15rem 0;
}

.unique {
  background-color: #f1f0ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unique-content {
  max-width: 54rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.unique-content-add-to-cart {
  display: flex;
  gap: 1.6rem;
}
.unique-content-add-to-cart p {
  color: #101750;
}
.unique-content-add-to-cart .add-to-cart {
  border-radius: 8px;
  padding: 16px 40px;
  background-color: #FB2E86;
  border: none;
}
.unique-content-add-to-cart .add-to-cart h4 {
  color: #fff;
}
.unique-content-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.unique-content-text .paragraph {
  position: relative;
  padding-left: 3rem;
}
.unique-content-text .paragraph::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  border-radius: 50%;
}
.unique-content-text .paragraph:nth-child(1)::before {
  background-color: #FB2E86;
}
.unique-content-text .paragraph:nth-child(2)::before {
  background-color: #603EFF;
}
.unique-content-text .paragraph:nth-child(3)::before {
  background-color: #0CC562;
}

.trending {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trending h2 {
  padding-bottom: 8rem;
}
.trending-row {
  display: flex;
  gap: 4rem;
}
.trending-card {
  width: 30rem;
  height: 35rem;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 8px 24px 32px -16px rgba(16, 23, 80, 0.15);
  transition: all 0.5s;
}
.trending-card:hover {
  transform: translateY(-3rem);
}
.trending-image {
  width: 30rem;
  height: 23rem;
  object-fit: cover;
  border-radius: 8px;
}
.trending-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}
.trending-content-text {
  color: #8A8FB9;
}
.trending-content-title {
  color: #FB2E86;
  margin-bottom: 1.5rem;
}
.trending-content-price {
  color: #101750;
  margin-top: 0.5rem;
}
.trending-content-prices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}
.trending-content-sale {
  text-decoration: line-through;
}

.discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.discount-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount-item-content {
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.discount-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.discount-grid-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
}
.discount-title {
  color: #FB2E86;
}
.discount-shop-now {
  border-radius: 8px;
  padding: 16px 40px;
  width: 30%;
  border: 2px solid #FB2E86;
  background-color: #FB2E86;
  transition: all 0.3s;
}
.discount-shop-now p {
  color: #fff;
}
.discount-shop-now:hover {
  background-color: #fff;
}
.discount-shop-now:hover p {
  color: #FB2E86;
}
.discount .tabs {
  display: flex;
  gap: 10px;
}
.discount .tabs .tab {
  padding: 15px;
  cursor: pointer;
  background-color: #fff;
  border: none;
}
.discount .tabs .tab.active {
  color: #FB2E86;
}

.top-categories {
  padding: 10rem 0;
}
.top-categories-container {
  position: relative;
  padding: 2rem;
  text-align: center;
}
.top-categories-page {
  display: flex;
  flex-direction: column;
}
.top-categories-row {
  display: flex;
  gap: 4.5rem;
  flex-wrap: wrap;
  padding: 2.5rem;
  justify-content: center;
}
.top-categories-card {
  border: none;
  width: 30rem;
  height: 40rem;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  transition: all 0.7s;
}
.top-categories-card:hover {
  transform: translateY(-3rem);
}
.top-categories-card:hover .top-categories-overlay {
  display: flex;
  z-index: 100;
  transform: translateY(-1.5rem) translateX(1rem);
  transition: transform 1s ease-in-out;
}
.top-categories-card:hover .top-categories-card-content {
  transform: translateY(-1.5rem) translateX(1rem);
  transition: transform 1s ease-in-out;
}
.top-categories-card {
  transform: translateY(0) translateX(0);
}
.top-categories-card-content {
  width: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-categories-card-content-text {
  color: #101750;
  margin-top: 4rem;
}
.top-categories-card .underlay {
  position: absolute;
  border-radius: 100%;
  height: 27rem;
  width: 27rem;
  background-color: #8A8FB9;
  top: 3rem;
  z-index: -1;
}
.top-categories-pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.top-categories-pagination .pagination-line {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: 1px solid #FB2E86;
  margin: 0 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.top-categories-pagination .pagination-line.active {
  background-color: #FB2E86;
}
.top-categories-overlay {
  display: none;
  position: absolute;
  left: 27%;
  bottom: 12rem;
  transition: all 0.3s;
}
.top-categories-overlay-button-details {
  border-radius: 6px;
  padding: 11px 16px;
  font-size: 1.2rem;
  border: 2px solid #0CC562;
  color: #fff;
  background-color: #0CC562;
}
.top-categories-overlay-button-details:hover {
  color: #0CC562;
  background-color: #fff;
}
.top-categories-image {
  border-radius: 100%;
  height: 27rem;
  width: 27rem;
  margin-top: 3rem;
  object-fit: cover;
  transform: translateY(0) translateX(0);
}

.newsletter {
  height: 43rem;
  background-image: url("/newsletter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter-content {
  max-width: 70rem;
  text-align: center;
}
.newsletter .subscribe {
  border-radius: 8px;
  margin-top: 6rem;
  padding: 16px 40px;
  border: 2px solid #FB2E86;
  background-color: #FB2E86;
  transition: all 0.3s;
  color: #fff;
}
.newsletter .subscribe:hover {
  background-color: #fff;
}
.newsletter .subscribe:hover p {
  color: #FB2E86;
}

.latest-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 0;
}
.latest-blog h2 {
  margin-bottom: 5rem;
}
.latest-blog-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.latest-blog-card {
  border-radius: 8px;
  box-shadow: 8px 24px 32px -16px rgba(16, 23, 80, 0.15);
  width: 41rem;
  height: 47rem;
  transition: all 0.5s;
}
.latest-blog-card:hover {
  transform: translateY(-3rem);
}
.latest-blog-card-content {
  width: 41rem;
  height: 47rem;
}
.latest-blog-image {
  border-radius: 8px;
  width: 41rem;
  height: 25rem;
  object-fit: cover;
}
.latest-blog-text {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 1rem 2rem;
}
.latest-blog-text-info {
  display: flex;
  align-items: center;
  gap: 8rem;
}
.latest-blog-text-info .info-author,
.latest-blog-text-info .info-data {
  display: flex;
  align-items: center;
}
.latest-blog-text-info svg {
  margin-right: 0.8rem;
}
.latest-blog-text-info svg path {
  color: #8A8FB9;
}
.latest-blog-text-title {
  margin-bottom: 1.8rem;
}
.latest-blog-label {
  cursor: pointer;
  color: #FB2E86;
  transition: all 0.3s;
}
.latest-blog-label:hover {
  text-decoration: underline;
}

.products-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 20rem;
}
.products-pagination {
  display: flex;
  gap: 0.8rem;
  position: absolute;
  right: 24rem;
  bottom: 10rem;
}
.products-pagination-item {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 0.4rem;
  background-color: #fff;
  color: #101750;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.products-pagination-item.active {
  background-color: #FC5FA2;
  color: #fff;
}
.products-head {
  margin-bottom: 4rem;
}
.products-nav-links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  justify-content: center;
  margin: 2rem 0 6rem;
}
.products-nav-links .nav-link-products {
  color: #FB2E86;
}
.products-switches {
  display: flex;
  gap: 6.4rem;
  margin-left: 57rem;
}
.products-switches .dropdown {
  position: relative;
  margin-right: 20px;
}
.products-switches .dropdown-visible {
  margin-left: 1.6rem;
  position: relative;
  padding: 2px 2px 2px 16px;
  border: 1px solid #E5E0FC;
  border-radius: 8px;
  cursor: pointer;
}
.products-switches .dropdown-visible svg {
  border-radius: 32px;
  padding: 8px;
  width: 32px;
  height: 32px;
}
.products-switches .dropdown-visible-sort-by {
  width: 208px;
  height: 40px;
}
.products-switches .dropdown-visible-per-page {
  width: 9.6rem;
  height: 4rem;
}
.products-switches .dropdown-option {
  transition: background-color 0.2s;
  padding: 0.5rem 1.6rem;
}
.products-switches .dropdown-option:first-child {
  padding: 1rem 1.6rem 0.5rem;
}
.products-switches .dropdown-option:last-child {
  padding: 0.5rem 1.6rem 1rem;
}
.products-switches .dropdown-option:hover {
  background-color: #F8F8FD;
}
.products-switches .dropdown-content {
  position: absolute;
  top: 3.8rem;
  left: 0;
  width: 9.6rem;
  background-color: #fff;
  border: 1px solid #E5E0FC;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.products-switches .dropdown-content-sort-by {
  width: 208px;
}
.products-switches .dropdown span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.products-switches .dropdown span svg {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}
.products-switches .active {
  color: #FB2E86;
}
.products-switches .view-option {
  display: flex;
  gap: 1.6rem;
}
.products-switches .view-option svg {
  cursor: pointer;
}
.products-switches .view-option .active svg {
  fill: #FB2E86;
}
.products-list-filters {
  display: flex;
}
.products-filters-container {
  width: 32%;
  padding-right: 20rem;
}
.products .star {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
}
.products .star-filled path {
  color: #F9BA00;
}
.products .star-empty path {
  color: #E5E0FC;
}
.products .filter-section {
  margin-bottom: 4.8rem;
  display: flex;
  flex-direction: column;
}
.products .filter-section hr {
  margin: 0.5rem 0 2rem;
  width: 100%;
  background-color: #101750;
}
.products .filter-label {
  display: flex;
  align-items: center;
  padding-bottom: 1.6rem;
}
.products .filter-label .checkbox {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
}
.products .filter-label .checkmark {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.4rem;
  border-radius: 4px;
  position: relative;
  transition: background-color 0.3s ease;
  margin-right: 0.8rem;
}
.products .filter-label .checkmark-brand {
  background-color: #DDD6FF;
}
.products .filter-label .checkmark-discount, .products .filter-label .checkmark-category, .products .filter-label .checkmark-price {
  background-color: #FEB9C4;
}
.products .filter-label .checkmark-rating {
  background-color: #FFF3CE;
}
.products .filter-label .checkmark::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}
.products .filter-label .checkbox:checked ~ .checkmark-brand {
  background-color: #603EFF;
}
.products .filter-label .checkbox:checked ~ .checkmark-discount, .products .filter-label .checkbox:checked ~ .checkmark-category, .products .filter-label .checkbox:checked ~ .checkmark-price {
  background-color: #FB2E86;
}
.products .filter-label .checkbox:checked ~ .checkmark-rating {
  background-color: #F9BA00;
}
.products .filter-label .checkbox:checked ~ .checkmark::after {
  display: block;
}
.products .products-list-container {
  width: 97.6rem;
}
.products .product-cards {
  display: flex;
  gap: 3.2rem;
}
.products .product-cards.list-view {
  flex-direction: column;
  align-items: flex-start;
}
.products .product-cards.grid-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product-card {
  position: relative;
  height: 23rem;
  width: 97.6rem;
  padding: 1.5rem;
  display: flex;
  gap: 4rem;
  border-radius: 4px;
  box-shadow: 8px 24px 32px -16px rgba(16, 23, 80, 0.15);
}
.product-card .floating-message {
  position: absolute;
  bottom: 4rem;
  left: 55%;
  padding: 10px;
  background-color: #E5E0FC;
  color: #101750;
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  animation: fade-in-out 1.5s ease-out;
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }
}
.product-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50rem;
}
.product-card.grid-view {
  width: 30rem;
  height: 44.8rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
}
.product-card.grid-view .product-card-rating {
  position: relative;
  padding-left: 1.7rem;
}
.product-card.grid-view .product-card-icons {
  margin-top: 0;
}
.product-card.grid-view .product-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.8rem;
}
.product-card-icons {
  color: #7E33E0;
  display: flex;
  margin-top: 4rem;
  margin-left: -0.8rem;
}
.product-card-icon {
  height: 3.2rem;
  width: 3.2rem;
  margin-right: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.product-card-icon:hover {
  background-color: #E5E0FC;
  border-radius: 32px;
}
.product-card-icon svg path {
  color: #7E33E0;
}
.product-card-image {
  border-radius: 4px;
  height: 20rem;
  min-width: 28.8rem;
}
.product-card-image img {
  border-radius: 4px;
  height: 20rem;
  width: 28.8rem;
  object-fit: cover;
}
.product-card-rating {
  position: absolute;
  right: 2rem;
}
.product-card-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-card-prices {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.product-card-prices-new {
  color: #101750;
}
.product-card-prices-old {
  text-decoration: line-through;
}

.product-details-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13rem;
  padding: 10rem 10rem 14rem;
}
.product-details-related {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #fff;
  padding: 10rem 0;
}
.product-details-related h3 {
  margin-left: 4rem;
}
.product-details-description-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}
.product-details-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F8F8FD;
}
.product-details-tabs {
  display: flex;
  gap: 10rem;
  margin-bottom: 6rem;
  margin-left: -25rem;
}
.product-details-tab-button {
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}
.product-details-tab-button.active:after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #101750;
}
.product-details-tab-button:hover:after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #101750;
}
.product-details-tab-block-1, .product-details-tab-block-2 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product-details-tab-block-1 .more-details, .product-details-tab-block-2 .more-details {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product-details-tab-block-1 .more-detail, .product-details-tab-block-2 .more-detail {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.product-details-tab-content {
  padding: 20px;
  max-width: 108.8rem;
  border-radius: 0 0 5px 5px;
}
.product-details-tab-panel {
  display: none;
}
.product-details-tab-panel.active {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.product-details-tab-panel .video-container {
  width: 60rem;
}
.product-details-images {
  display: flex;
  gap: 3rem;
}
.product-details-images-small-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.product-details-images-small-group img {
  border-radius: 8px;
  width: 192px;
  height: 136px;
  object-fit: cover;
}
.product-details-images-big {
  border-radius: 8px;
  width: 528px;
  height: 438px;
  object-fit: cover;
  box-shadow: 3px 50px 60px 0 rgba(16, 23, 80, 0.15);
}
.product-details-info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product-details-info .star {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
}
.product-details-info .star-filled path {
  color: #F9BA00;
}
.product-details-info .star-empty path {
  color: #E5E0FC;
}
.product-details-info-description {
  max-width: 50rem;
}
.product-details-info-prices {
  display: flex;
  gap: 1.5rem;
}
.product-details-info-price {
  color: #101750;
}
.product-details-info-price-old {
  color: #FB2E86;
  text-decoration: line-through;
}
.product-details-info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details-info-button {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 5rem;
}
.product-details-info-button .heart-empty path {
  background-color: transparent;
}
.product-details-info-button .heart-filled path {
  background-color: red;
}
.product-details-info-button svg path {
  color: #101750;
}
.product-details-info-button .details-add-to-cart {
  border-radius: 8px;
  padding: 16px 40px;
  width: 171px;
  color: #fff;
  background-color: #FB2E86;
  border: 1px solid #FB2E86;
  transition: all 0.3s;
}
.product-details-info-button .details-add-to-cart:hover {
  color: #FB2E86;
  background-color: #fff;
}
.product-details-info-button .details-add-to-cart h4 {
  color: #fff;
}

.related-products-row {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  padding: 4rem;
  justify-content: center;
}
.related-products-image {
  width: 30rem;
  height: 23rem;
  object-fit: cover;
  border-radius: 8px;
}
.related-products-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}
.related-products-content-text {
  color: #8A8FB9;
}
.related-products-content-title {
  color: #FB2E86;
  margin-bottom: 1.5rem;
}
.related-products-content-price {
  color: #101750;
  margin-top: 0.5rem;
}
.related-products-card {
  width: 30rem;
  height: 37rem;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 1rem 2rem 2rem 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.related-products-card:hover {
  transform: translateY(-3rem);
}
.related-products-card:hover .related-products-overlay {
  display: flex;
}
.related-products-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.related-products-overlay {
  color: #7E33E0;
  display: none;
}
.related-products-overlay .overlay-icons {
  position: absolute;
  display: flex;
  margin: 0.7rem 1.3rem;
}
.related-products-overlay .overlay-icon {
  height: 3.2rem;
  width: 3.2rem;
  margin-right: 0.3rem;
  padding: 8px;
  transition: all 0.3s;
}
.related-products-overlay .overlay-icon:hover {
  background-color: #E5E0FC;
  border-radius: 32px;
}
.related-products-overlay .overlay-button-details {
  position: absolute;
  left: 33%;
  bottom: 15rem;
  border-radius: 6px;
  padding: 11px 16px;
  font-size: 1.2rem;
  border: 2px solid #0CC562;
  color: #fff;
  background-color: #0CC562;
}
.related-products-overlay svg path {
  color: #7E33E0;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10rem 0;
}
.cart-content {
  display: flex;
  gap: 13rem;
}
.cart-checkout {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30rem;
  padding: 3rem;
  border-radius: 8px;
  background-color: #F8F8FD;
}
.cart-checkout-container {
  display: flex;
  flex-direction: column;
}
.cart-checkout-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-checkout-payment {
  border-radius: 8px;
  padding: 16px 40px;
  color: #fff;
  background-color: #FB2E86;
  border: 1px solid #FB2E86;
  transition: all 0.3s;
}
.cart-checkout-payment:hover {
  color: #FB2E86;
  background-color: #fff;
}
.cart-checkout-total p {
  color: #101750;
}
.cart-checkout-total-sub p {
  color: #101750;
}
.cart-clear-button {
  color: #FB2E86;
  padding: 1.6rem 4rem;
  border: none;
  background-color: #fff;
  transition: all 0.3s;
}
.cart-clear-button:hover {
  background-color: #F8F8FD;
}
.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.cart-empty-button {
  margin-top: 2rem;
  border-radius: 8px;
  padding: 16px 40px;
  background-color: #FB2E86;
  color: #fff;
  border: 1px solid #FB2E86;
  transition: all 0.3s;
}
.cart-empty-button:hover {
  background-color: #fff;
  color: #FB2E86;
}
.cart-items {
  width: 64rem;
  margin-bottom: 30px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  color: #101750;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.cart-item:hover {
  transform: scale(1.03);
}
.cart-item img {
  border-radius: 4px;
  width: 149px;
  height: 104px;
}
.cart-item p,
.cart-item .quantity-btn {
  color: #101750;
}
.cart-item-remove {
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  background-color: #FB2E86;
  color: #fff;
  border-radius: 8px;
}
.cart-item-total {
  color: #101750;
}

.quantity {
  padding: 0.7rem 1.7rem;
}
.quantity-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #E5E0FC;
}
.quantity-btn {
  width: 3.6rem;
  height: 3.6rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}
.quantity-btn:hover {
  background-color: #ddd;
}
.quantity-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.wishlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10rem 0;
}
.wishlist-prices {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wishlist-prices-new {
  color: #101750;
}
.wishlist-prices-old {
  text-decoration: line-through;
}
.wishlist-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.wishlist-empty-button {
  margin-top: 2rem;
  border-radius: 8px;
  padding: 16px 40px;
  background-color: #FB2E86;
  color: #fff;
  border: 1px solid #FB2E86;
  transition: all 0.3s;
}
.wishlist-empty-button:hover {
  background-color: #fff;
  color: #FB2E86;
}
.wishlist-content {
  display: flex;
  gap: 13rem;
  display: flex;
}
.wishlist-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.wishlist-item {
  padding: 1rem;
  width: 30rem;
  height: 44.8rem;
  display: flex;
  flex-direction: column;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.wishlist-item:hover {
  transform: scale(1.03);
}
.wishlist-item-rating .star {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
}
.wishlist-item-rating .star-filled path {
  color: #F9BA00;
}
.wishlist-item-rating .star-empty path {
  color: #E5E0FC;
}
.wishlist-item-icons {
  margin-top: 0;
}
.wishlist-item-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.8rem;
}
.wishlist-item-image {
  border-radius: 4px;
  height: 20rem;
  min-width: 28.8rem;
  margin-bottom: 1.5rem;
}
.wishlist-item-image img {
  border-radius: 4px;
  height: 20rem;
  width: 28.8rem;
  object-fit: cover;
}
.wishlist-item-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.wishlist-item-details {
  display: flex;
  flex-direction: column;
}
.wishlist-item-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.8rem;
}
.wishlist-item-remove {
  margin-top: 1rem;
  background-color: #FB2E86;
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: 1px solid #FB2E86;
  cursor: pointer;
  transition: all 0.3s;
}
.wishlist-item-remove:hover {
  color: #FB2E86;
  background-color: #fff;
}

.header {
  width: 100%;
}
.header-content {
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  display: flex;
}
.header svg path {
  color: white;
}
.header .currency,
.header .language {
  position: relative;
}
.header-dropdown {
  position: absolute;
  top: 4rem;
  left: 0;
  background-color: #7E33E0;
  border: none;
  border-radius: 5px;
  z-index: 5;
}
.header-dropdown-element {
  color: #fff;
  padding: 1rem 1.2rem 1.2rem;
}
.header-dropdown-element:first-child {
  border-radius: 5px 5px 0 0;
}
.header-dropdown-element:last-child {
  border-radius: 0 0 5px 5px;
}
.header-dropdown-element:hover {
  background-color: #6a0de3;
}
.header-top {
  background-color: #7E33E0;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top-left {
  display: flex;
  gap: 4.8rem;
}
.header-top-left-element {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}
.header-top-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-top-right-element {
  cursor: pointer;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: all 0.3s;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}
.header-top-right-element:hover {
  background-color: #6a0de3;
}
.header-top-right .login-btn {
  display: flex;
  gap: 4px;
  align-items: center;
}
.header-top-right .wishlist {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}
.header-bottom {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}
.header-bottom-left {
  display: flex;
  align-items: center;
}
.header-bottom-left .logo {
  height: 2.8rem;
  margin-right: 5rem;
}
.header-bottom-left .nav-links {
  display: flex;
  gap: 20px;
}
.header-bottom-left .nav-links .nav-link {
  cursor: pointer;
  transition: all 0.4s;
}
.header-bottom-left .nav-links .nav-link:hover {
  color: #FB2E86;
}
.header-bottom-right {
  position: relative;
  display: flex;
  align-items: center;
}
.header-bottom-right .search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-height: 30rem;
  overflow-y: auto;
  z-index: 2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header-bottom-right .search-dropdown .search-result-item {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  gap: 2rem;
}
.header-bottom-right .search-dropdown .search-result-item:hover {
  background-color: #f0f0f0;
}
.header-bottom-right .search-dropdown .search-result-item-image {
  border-radius: 4px;
  width: 149px;
  height: 104px;
}
.header-bottom-right .search-dropdown .search-result-item-image img {
  border-radius: 4px;
  width: 149px;
  height: 104px;
  object-fit: cover;
}
.header-bottom-right .search-dropdown .search-result-item .search-prices {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-bottom-right .search-dropdown .search-result-item .search-prices-new {
  color: #FB2E86;
}
.header-bottom-right .search-dropdown .search-result-item .search-prices-old {
  text-decoration: line-through;
}
.header-bottom-right .search-dropdown .search-result-item-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header-bottom-right .search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #E5E0FC;
  border-radius: 8px;
  padding: 2px;
}
.header-bottom-right .search-container input {
  padding: 8px;
  border: none;
  width: 32rem;
  padding-left: 1.6rem;
}
.header-bottom-right .search-container input::placeholder {
  font-size: 1.4rem;
  color: #8A8FB9;
}
.header-bottom-right .search-container .search-btn {
  background: #FB2E86;
  border: none;
  width: 52px;
  height: 36px;
  cursor: pointer;
  border-radius: 6px;
}
.header-bottom-right .search-container .search-btn svg {
  margin-top: 6px;
  margin-left: 27%;
}

.footer {
  height: 54rem;
}
.footer-top {
  padding: 11.5rem 0;
  background-color: #F8F8FD;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
.footer-top p {
  cursor: pointer;
  transition: all 0.3s;
}
.footer-top p:hover {
  color: #FB2E86;
}
.footer-top-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-top-column-logo {
  margin-top: -10rem;
  max-width: 34rem;
}
.footer-top .search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  border: 1px solid #E5E0FC;
  border-radius: 8px;
  padding: 2px;
  width: 30rem;
}
.footer-top .search-container input {
  padding: 8px;
  border: none;
  padding-left: 1.6rem;
}
.footer-top .search-container input::placeholder {
  font-size: 1.4rem;
  color: #8A8FB9;
}
.footer-top .search-container .search-btn {
  background: #FB2E86;
  border: none;
  border-radius: 6px;
  padding: 11px 16px;
  color: #fff;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 37rem;
  background-color: #E5E0FC;
}
.footer-bottom-social-icons {
  display: flex;
  gap: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
